<style>
  .locallending {
    display: inline-block;
    margin-right: 10px;
  }
</style>

<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <h5> Scramble - A Fast-paced Games Platform</h5>
      <p>This project was created at the hackathon, HackBinghamton. This is a web application that uses socket.io to communicate between the server and between the two players.</p>
      <!--<a class="project-link locallending" href="http://scramble-demo.mybluemix.net/">Check it out!</a>-->
      <a class="project-link locallending" href="https://github.com/robherley/scramble">Github</a>
    </div>
    <div class="six columns images">
      <a href="http://locallending.org">
        <img alt="locallending" src="{{ "/assets/img/scramble.png" | prepend: site.baseurl }}" />
      </a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <h5> LocalLending - The "Craigslist" for Lending Items</h5>
      <p>This project came about at InventYU, a hackathon hosted by Yeshiva University in New York City. It allows users to browse for items that shouldn't need to buy. This application serves to help us better utilize our "things" and lets our neighbors find the items they need without the need to pay for a new one. Check the application out today!</p>
      <a class="project-link locallending" href="http://locallending.org">Check it out!</a>
      <a class="project-link locallending" href="https://github.com/BeamGroup/locallending">Github</a>
    </div>
    <div class="six columns images">
      <a href="http://locallending.org">
        <img alt="locallending" src="{{ "/assets/img/locallending.png" | prepend: site.baseurl }}" />
      </a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <h5> Domus - The Rentals App </h5>
      <p>This project serves to help you interact with your landlord or tenant without all of the hassle of meeting in person, or setting up a call. It is a one-stop-stop for all interactions between tenants and landlords.</p>
      <a class="project-link" href="https://github.com/xChenny/Domus">Github</a>
    </div>
    <div class="six columns images">
      <a href="https://github.com/xchenny/Domus">
        <img alt="domus" src="{{ "/assets/img/domus.png" | prepend: site.baseurl }}" />
      </a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <h5> Snake - A Pathfinder App </h5>
      <p>Ever been in a situation where you had many errands to run, all in different locations? Worry no more! Snake is here to solve your problem. Snake is an application meant to help you find the most efficient way to go through all of your points of interest. Check out the source code below.</p>
      <a class="project-link" href="https://github.com/xChenny/Snake">Github</a>
    </div>
    <div class="six columns images">
      <a href="https://github.com/xchenny/Snake">
        <img alt="snake" src="{{ "/assets/img/snake.png" | prepend: site.baseurl }}" />
      </a>
    </div>
  </div>
</div>
