<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Snake - A Pathfinder App </h5>
      <li> My ReactJS Application </li>
      <p>This project was inspired by a thought that I had when I supposed to be doing multiple errands in that day. At the time, I wondered if Google Maps had functionality that told me which places to go first in order to maximize my commuting time overall. I realized that this app could potentially be really useful to me, so I decided to make it with new technologies that I hadn't used before. For this project, I decided that I wanted to use ReactJS for the Front-end, and Firebase to host and store the user information.</p>
      <a class="project-link" href="https://github.com/xChenny/Snake">Check it out</a>
    </div>
  </div>
</div>
